params {
    // input
    snp_blacklist = null
    samplesheet = null
    
    // output
    // outdir_base = null
    // outdir_references = null
    // outdir_purecn = null
}

profiles {
    test {
        // Override parameters for a test dataset
        params {
            // input
            snp_blacklist = "${projectDir}/tests/data/hg38_encode_blacklist.bed"
            samplesheet = "${projectDir}/tests/data/samplesheet.csv"
            outdir_base = "${projectDir}/tests/results/"
            
            // Set derived parameters for test profile
            outdir_references  = "${params.outdir_base}/references"
            outdir_purecn      = "${params.outdir_base}/purecn"
        }
        // No container configuration here - let it be set by other profiles
    }

    singularity {
        singularity {
            enabled     = true
            autoMounts  = true
        }
    }

    docker {
        docker {
            enabled     = true
        }
    }
}